@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Public Sans", sans-serif;
}

.hidden{
    display: none;
}

header{
    position: sticky;
}

.navbar{
    background-color: white;
    padding: 1.5em;
    position: relative;
}

.navbar > ul{
    display: flex;
    justify-content: space-between;
}

.desktop-nav{
    background-color: #fff;
    padding: 1.5rem;
    width: calc(100% - 1.5em);
    border-radius: 5px;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 38%);
}

.mobile-links {
    margin-bottom: 1.5rem;
    text-align: center;
}

.mobile-links:last-child {
    margin-bottom: 0;
}

/*.mobile-links a {
    color: ;
}*/

.close-icon {
    position: absolute;
    right: 1.5em;
}

.desktop-nav{
    display: none;
}

.invite {
    padding: 10px 25px;
    color: #fff;
    border-radius: 50px;
    background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    text-align: center;
    text-decoration: none;
    margin: 1.5rem 0 3rem;
}

.invite:hover {
    opacity: .8;
}

.second-content{
    width: 100%;
    text-align: center;
    background-color: #fafafa;
    padding-bottom: 5rem;
}

.image{
    background-image: url('images/bg-intro-mobile.svg');
    background-size: contain;
    background-repeat: no-repeat;
}
.image img{
    width: 100%;
    height: auto;
}

.txt{
    padding: 1rem;
    margin-bottom: 1.5rem;
}

.second-content h1{
    font-size: 3rem;
    font-weight: 400;
}

.txt p{
    margin: 1.5rem 0;
    line-height: 1.4em;
}

.third-content{
    background-color: #F4F5F7;
    text-align: center;
    padding: 3.5rem 1.5rem;
}

.third-content h3{
    font-size: 2rem;
    font-weight: 400;
}

.third-content p{
    margin: 1rem;
    line-height: 1.4em;
}

.third-content h4{
    margin-top: 1.5rem;
    font-size: 1.2rem;
    font-weight: 400;
}

.third-content img{
    margin-top: 0.8rem;
}

article{
    background-color: #fafafa;
    padding: 6rem 1.5rem;
}

article h3{
    text-align: center;
    font-size:  2.3rem;
    font-weight: 300;
    margin-bottom: 2.5rem;
}

article img{
    width: 100%;
    height: 50%;
    border-radius: 8px 8px 0 0;
}

.box{
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 0 0 8px 8px;
    margin-bottom: 2.5rem;
    height: 50%;
}

.img-container{
    display: block;
}

.box:last-child{
    padding-bottom: 4rem;
}

footer{
    background-color: #2D314E;
    padding: 2.5rem 7rem 3.5rem;
    text-align: center;
}

.footer-logo{
    margin-bottom: 2.5rem;
}

.contact-icons{
    margin-bottom: 2.5rem;
    display: flex;
    justify-content: space-around;
    height: auto;
}

.contact-icons img{
    width: 28px;
    cursor: pointer;
}

.footer-invite-wrapper {
    margin:3rem auto;
    width: 80%;
}

.footer-invite {
    padding: 10px 25px;
    color: #fff;
    border-radius: 50px;
    background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    text-align: center;
    text-decoration: none;
}

.footer-links{
    color:#fff;
}

.footer-links li{
    margin-bottom: 0.8rem;
    list-style-type: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: 300;
}
.copyrights{
    color: #fff;
}