@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Public Sans", sans-serif;
}

.hidden{
    display: none;
}

header{
    position: sticky;
}

.navbar {
    background-color: #fff;
    padding: 20px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .main-nav {
    width: 100%;
    list-style-type: none;
    display: none;
  }
  
  .nav-links{
    text-decoration: none;
    color: #000;
  }
  
  .main-nav li {
    text-align: center;
    margin: 15px auto;
  }
  
  .navbar-toggle {
    cursor: pointer;
  }
  
  .active {
    display: block;
  }

  .header-invite{
      display: none;
  }

.invite {
    padding: 10px 25px;
    color: #fff;
    border-radius: 50px;
    background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    text-align: center;
    text-decoration: none;
    margin: 1.5rem 0 3rem;
}

.invite:hover {
    opacity: .8;
}

.second-content{
    width: 100%;
    text-align: center;
    background-color: #fafafa;
    padding-bottom: 5rem;
}

.image{
    background-image: url('images/bg-intro-mobile.svg');
    background-size: contain;
    background-repeat: no-repeat;
}
.image img{
    width: 100%;
    height: auto;
}

.txt{
    padding: 1rem;
    margin-bottom: 1.5rem;
}

.second-content h1{
    font-size: 3rem;
    font-weight: 400;
}

.txt p{
    margin: 1.5rem 0;
    line-height: 1.4em;
    color: hsl(233, 8%, 62%);
}

.third-content{
    background-color: #F4F5F7;
    text-align: center;
    padding: 3.5rem 1.5rem;
}

.third-content h3{
    font-size: 2rem;
    font-weight: 400;
}

.third-content p{
    margin: 1rem;
    line-height: 1.4em;
}

.third-content h4{
    margin-top: 1.5rem;
    font-size: 1.2rem;
    font-weight: 400;
}

.third-content img{
    margin-top: 0.8rem;
}

article{
    background-color: #fafafa;
    padding: 6rem 1.5rem;
}

article h3{
    text-align: center;
    font-size:  2.3rem;
    font-weight: 300;
    margin-bottom: 2.5rem;
}

article img{
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.article{
    background-color: #fff;
    border-radius: 8px 8px 8px 8px;
    margin-bottom: 2.5rem;
    transition: all .5s ease-in-out;
}

.article:hover{
    transform: scale(1.05);
    border-radius: 8px;
    box-shadow:  5px 5px 5px #eee, 
    -5px -5px 19px #ffffff;
}

.box{
    padding: 1.8rem;
}

.box:last-child{
    padding-bottom: 4rem;
}

.author{
    font-size: 10px;
    color: hsl(233, 8%, 62%);
}

.title{
    margin: 0.8rem 0;
}

.title:hover{
    cursor: pointer;
    color: hsl(233, 8%, 62%);
}

.body{
    font-size: 13px;
    color: hsl(233, 8%, 62%);
}

footer{
    background-color: #2D314E;
    padding: 2.5rem 2rem 3.5rem;
    text-align: center;
}

.footer-logo{
    margin-bottom: 2.5rem;
}

.contact-icons{
    margin-bottom: 2.5rem;
    display: flex;
    justify-content: space-between;
    height: auto;
}

.contact-icons img{
    width: 28px;
    cursor: pointer;
}


.footer-invite-wrapper {
    margin:3rem auto;
    width: auto;
}

.footer-invite {
    padding: 10px 25px;
    color: #fff;
    border-radius: 50px;
    background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    text-align: center;
    text-decoration: none;
    width: 70%;
}

.footer-invite:hover {
    opacity: .8;
}

.footer-links{
    color:#fff;
}

.footer-links li{
    margin-bottom: 1rem;
    list-style-type: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: 300;
}

.footer-links li:hover{
    color: hsl(136, 65%, 51%);
}
.copyrights{
    color: #fff;
}


@media (min-width: 769px){
    @import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400&display=swap');

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 6rem;
      }
    
      .main-nav {
        width: 35%;
        display: flex;
        justify-content: space-between;
      }
    
      .main-nav li {
        margin: 0;
      }
    
      .nav-links {
        font-size: 0.8rem;
        color: #ccc;
      }

      .navbar-toggle {
        display: none;
      }
    
      .nav-links:hover {
        cursor: pointer;
        color: #2D314E;
        border-bottom: 3px solid #2D314E;
      }

      .header-invite {
          display: block;
        padding: 10px 25px;
        color: #fff;
        border-radius: 50px;
        background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
        text-align: center;
        text-decoration: none;
    }

    .header-invite:hover {
        opacity: .8;
    }

    .invite {
        padding: 10px 25px;
        color: #fff;
        border-radius: 50px;
        background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
        text-align: center;
        text-decoration: none;
        margin: 1.5rem 0 3rem;
    }
    
    .invite:hover {
        opacity: .8;
    }
    
    .second-content{
        display: flex;
        width: 100%;
        height: auto;
        /*text-align: center;
        padding-bottom: 5rem;*/
        background-color: #fafafa;
        padding: 8rem 0 6rem 6rem;
    }
    
    .image{
        background-image: url('images/bg-intro-mobile.svg');
        background-size: cover;
        background-repeat: no-repeat;
        order: 2;
        width: 50%;
    }
    .image img{
        width: 100%;
        height: auto;
    }
    
    .txt{
        order: 1;
        width: 50%;
        text-align: left;
    }
    
    .second-content h1{
        font-size: 3rem;
        font-weight: 400;
    }
    
    .txt p{
        margin: 1.5rem 0;
        line-height: 1.4em;
    }
    
    .third-content{
        background-color: #F4F5F7;
        padding: 4.5rem 6rem;
        text-align: left;
    }
    
    
    .third-content h3{
        font-size: 2rem;
        font-weight: 400;
    }
    
    .third-content p{
        line-height: 1.4em;
        margin: 1rem 0 0;
        color: hsl(233, 8%, 62%);
    }
    
    .third-content h4{
        font-size: 1.2rem;
        font-weight: 400;
    }
    
    .third-content img{
        margin-top: 3rem;
    }
    
    .desktop-view{
        display: flex;
        justify-content: space-between;
    }
    
    .desktop-view div{
        width: 23%;
    }
    
    article{
        background-color: #fafafa;
        padding: 4.5rem 6rem 3rem;
    }
    
    article h3{
        text-align: left;
        font-size:  2.3rem;
        font-weight: 300;
        margin-bottom: 2.5rem;
        letter-spacing: 0.1rem;
    }
    
    article img{
        width: 100%;
        height: 50%;
        border-radius: 8px 8px 0 0;
    }
    .article-desktop{
        display: flex;
        justify-content: space-between;
    }
    
    .article{
        background-color: #fff;
        border-radius: 8px 8px 8px 8px;
        width: 23%;
    }
    
    .box{
        padding: 1.8rem;
    }
    
    .author{
        font-size: 10px;
        color: hsl(233, 8%, 62%);
    }
    
    .title{
        margin: 0.8rem 0;
    }
    
    .title:hover{
        cursor: pointer;
        color: hsl(233, 8%, 62%);
    }
    
    .body{
        font-size: 13px;
        color: hsl(233, 8%, 62%);
    }
    
    footer{
        background-color: #2D314E;
        padding: 2rem 6rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .footer-logo{
        margin-bottom: 2.5rem;
    }
    
    .contact-icons{
        margin-bottom: 2.5rem;
        display: flex;
        justify-content: space-around;
        height: auto;
    }
    
    .contact-icons img{
        width: 22px;
        cursor: pointer;
    }
    
    
    .footer-invite-wrapper {
        margin: 0 auto;
        width: 80%;
    }
    
    .footer-invite {
        padding: 10px 25px;
        color: #fff;
        border-radius: 50px;
        background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
        text-align: center;
        text-decoration: none;
    }
    
    .footer-invite:hover {
        opacity: .8;
    }
    
    .footer-links{
        color:#fff;
    }
    
    .footer-links li{
        list-style-type: none;
        cursor: pointer;
        font-size: 18px;
        font-weight: 300;
        text-align: left;
    }
    
    .footer-links li:hover{
        color: hsl(136, 65%, 51%);
    }
    .copyrights{
        color: #fff;
        margin-top: 2rem;
    }
    
    .logo-links-desktop{
        width: 60%;
        display: flex;
        justify-content: space-between;
    }
    

}